---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/PostPreview";
import { getAllTags, sortMDByDate } from "@/util";
import type { MDXInstance, Page, Post } from "@/types";
import Promoted from "@/components/Promoted";
export async function getStaticPaths({ paginate }) {
	const allPosts = await Astro.glob<Post>("../../posts/*.mdx");
	const allPostsByDate = sortMDByDate(allPosts);
	const allTags = getAllTags(allPostsByDate);
	return allTags.map((tag) => {
		const filterPosts = allPostsByDate.filter((post) =>
			post.frontmatter.tags?.includes(tag)
		);
		return paginate(filterPosts, {
			params: { tag },
			pageSize: 10,
		});
	});
}
export interface Props {
	page: Page<MDXInstance<Post>>;
}
const { page } = Astro.props as Props;
const { tag } = Astro.params;
const meta = {
	title: `Tag: ${tag}`,
	description: `View all activity tagged with ${tag}`,
};
---

<PageLayout meta={meta}>
	<h1>
		Tag: {tag}
	</h1>
	<Promoted />
	<section aria-label="Activity post list">
		<ul>
			{
				page.data.map((p) => (
					<li>
						<PostPreview post={p} as="h2" withDesc />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
