---
import type { IElement, MDXInstance, Post } from "@/types";
import { getLocaleTime } from "@/util";
export interface Props extends IElement {
	post: MDXInstance<Post>;
	withDesc?: boolean;
}
const { post, as: Element = "div", withDesc = false } = Astro.props as Props;
const { publishDate } = post.frontmatter;
const date = new Date(publishDate);
const datetime = date.toISOString();
const postDate = getLocaleTime(date, { month: "short" });
---

<time {datetime}>{postDate}</time>
<Element>
	<a href={post.url}>
		{post.frontmatter.title}
	</a>
</Element>
{withDesc && <q>{post.frontmatter.description}</q>}
